:root {
    --color-primary: #08586d;
    --color-primary-light: #08586d;
    --color-white: white;
}
* {
    font-family: "bundessansweb",Calibri,"Droid Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
}

html, body {
    /*background: linear-gradient(var(--color-primary), var(--color-primary-light));*/
    height: 100vh;
}

textarea {
    background-color: #007A8955;
    max-height: 400px;
    max-width: 50%;
}

.setting {
    display: flex;
    flex-direction: column;
    margin: 0.4em 0;
}

.ldt {
    background: var(--color-white);
    color: black;
}


h1,h2,h3,h4 {
    color: var(--color-primary);
    background-color: var(--color-white);
    padding: 0.2em 0.4em ;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1em;
}

.row {
    display: flex;
}

.action-bar {
    padding: 1em;
}

footer {
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 0.2em;
    color: rgb(131, 131, 131);
}

.code-btn {
    border: #dddd;
    padding: 8px;
    border-radius: 4px;
}


#messen-btn {
    background: rgba(0,0,0,0);
    border-color: #007A89;
    text-transform: uppercase;
    font-size: 12px;
    color: #007A89;
    min-width: 200px;
    padding: 7px 20px;
    border: solid 2px #007A89;
    border-radius: 27px;
    font-weight: bold;
    line-height: 2.16667;
    letter-spacing: .1em;
    text-align: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-delay: 0;
    transition-delay: 0;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: background, color, border-color;
    transition-property: background, color, border-color;
}

button:hover {
    background: #007A89;
    color: white;
    cursor: pointer;
}

#input-size {
    padding-left: 15px;
    background: #FFFFFF;
    color: #333333;
    
    padding: 7px 20px;
    border: solid 0px #007A89;
    font-size: 12px;
    font-weight: bold;

    line-height: 2.16667;
    margin-right: 2em;
    width: 50%;
}

#input-size:focus-visible {
    vorder: solid 1px #007A89;
}

a {
    color: #007A89;
    text-decoration: none;
}


@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }
}

.measurement-result {
    padding: 1em 0;
}

.measurement-result > b {
    color: #007A89;
}


.measurement-result > div.value {
    padding: 0.5em;
    width: calc(100% - 1em);
    height: 20px;
    display: inline-block;
    background: lightgray;
}
